* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.header {
    text-align: center;
    background-image:url(../img/pic.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    
}